*{
	margin: 0;
	padding: 0;
	font-family: "montserrat",sans-serif;
  }

  .social-buttons a{
	display: inline-flex;
	text-decoration: none;
	font-size: 40px;
	width: 60px;
	height: 60px;
	color: #fff;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 3px;
  }

  .social-buttons a::before{
	content: "";
	position: absolute;
	width: 60px;
	height: 60px;
	background: linear-gradient(45deg,#EF3724,#ffffff);
	border-radius: 50%;
	z-index: -1;
	transition: 0.3s ease-in;
  }
  
  .social-buttons a:hover::before{
	transform: scale(0);
  }
  
  .social-buttons a i{
	transition: 0.3s ease-in;
  }
  
  .social-buttons a:hover i{
	background: linear-gradient(45deg,#EF3724,#ffffff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: scale(2);
  }